.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.large-text p {
  font-size: 20px;
}


@media (max-width: 719px){
  #navbar {
    padding-bottom: 256px;
  }

  .App-header {
    min-height: calc(var(--vh, 1vh) * 100);
    min-width: calc(var(--vw, 1vw) * 100);
  }

  .desktop {
    display: none;
  }
}

@media (min-width: 720px) {
  .mobile {
    display: none;
  }
}

@import "~react-image-gallery/styles/css/image-gallery.css";
